@{
    ViewBag.Title = "Home Page";
}

<br /><br />

<div class="jumbotron">
    <h1>Vision API in MVC Application</h1>
    <p class="lead">Extract rich information from images to categorise and process visual data – and machine-assisted moderation of images to help curate your services.</p>
    <p><a href="Vision/AnalyzeInDomain" class="btn btn-primary btn-lg">Vision API &raquo;</a></p>
</div>